<%- include('../layouts/header'); %>

  <div class="row">
    <aside class="col-md-3 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
          fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

    <div class="col-md-9 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">
          <%= blog.title%>
        </h2>
        <p class="blog-post-meta">
          <%= blog.createdAt.toLocaleString() %>, by <a class="text-danger font-weight-bold" href="#">
              <%= blog.users[0].username %>
            </a>
        </p>
        <hr>
        <div class="image-datail-container">
          <img class="img-datail" src="<%='/uploads/'+ blog.image %>" alt="">
        </div>
        <p class="mt-4">
          <%= blog.content %>
        </p>
        <hr>
      </div><!-- /.blog-post -->

      <!-- Like system -->
      <nav class="blog-pagination">
        <% if(user) { %>
          <!-- Check user like -->
          <% if(blog.likes.includes(user._id)==true ) { %>
            <i class="fa-solid fa-heart unlike_icon" id="unlike" data-blog_id="<%= blog.id %>"></i>
          <% } else{ %>
            <i class="fa-regular fa-heart like_icon" id="like" data-blog_id="<%= blog.id %>"></i>
          <% } %>
        <% } else{ %>
          <a href="/users/login" class="like_icon"><i class="fa-regular fa-heart"
              data-blog_id="<%= blog.id %>"></i></a>
        <% } %>
          <!-- Unlike icon -->
          <i class="fa-solid fa-heart unlike_icon hide" id="unlike" data-blog_id="<%= blog.id %>"></i>
          <h6 style="font-weight: bold; margin-top: 12px">
            <%= blog.likes.length %> - Likes
          </h6>
      </nav>
      <hr>

      <!-- Comment system -->
      <div class="blog-comments mb-5">
        <h4>Comments</h4>
        <div class="comment-system">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-xl-12">
              <div class="card border-custum">
                <!-- Form submit comments -->
                <div class="card-footer py-3 border-0 bg-form">
                  <% if (!user) { %>
                    <div class="flex-start w-100">
                      <h6 class="font-weight-bold text-danger mb-3">username</h6>
                      <div class="form-outline w-100 ml">
                        <textarea class="form-control comment_content" rows="3" placeholder="Write your comment..." style="background: #fff;"></textarea>
                      </div>
                    </div>
                    <div class="float-end mt-2 pt-1">
                      <a href="/users/login" class="btn-comment btn btn-outline-dark btn-sm">Post comment</a>
                    </div>
                  <% } else { %>
                    <div class="flex-start w-100">
                      <h6 class="fw-bold text-danger mb-3"><%= user.username %></h6>
                      <div class="form-outline w-100 ml">
                        <textarea class="form-control comment_content" rows="3" placeholder="Write your comment..." style="background: #fff;"></textarea>
                      </div>
                    </div>
                    <div class="float-end mt-2 pt-1">
                      <button id="btn_comment" type="submit" class="btn-comment btn btn-outline-dark btn-sm"
                        data-blog_id="<%= blog.id %>" data-user_id="<%= user._id %>" data-username="<%= user.username %>">Post comment</button>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- List Comment -->
      <div class="comment_list">
        <% if(comments.length >= 1) { %>
        <div class="card-body border bg-white mb-10 border-custum" id="list_comments">
          <% comments.forEach(function(comment){ %>
          <ul class="comments_parent">
            <li>
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="font-weight-bold text-danger mb-1"><%= comment.users[0].username %></h6>
                <p class="text-muted small mb-0"><%= (comment.createdAt).toLocaleString() %></p>
              </div>
              <p class="mt-3 mb-4 pb-2"><%= comment.content %></p>
              <!-- Reply comment -->
              <% if (!user) { %>
                <div class="small d-flex justify-content-end mr-4">
                  <a href="/users/login" class="btn-reply d-flex align-items-center me-3 text-primary">
                    <i class="far fa-comment-dots mr-1"></i> Reply</a>
                </div>
              <% } else { %>
                <div class="d-flex justify-content-end">
                  <div class="small d-flex mr-4">
                    <a path="<?php echo $this->commentData[$i]['path']; ?>" class="btn-reply d-flex align-items-center me-3 text-primary">
                      <i class="far fa-comment-dots mr-1"></i> Reply</a>
                  </div>
                  <!-- Delete Comment -->
                  <% if (user.id == comment.users[0].id) { %>
                    <div class="small d-flex d mr-4">
                      <a path="<?php echo $this->commentData[$i]['path']; ?>" class="btn-reply d-flex align-items-center me-3 text-primary">
                        <i class="fa-solid fa-trash"></i> Delete</a>
                    </div>
                  <% } %>
                </div>
              <% } %>

              <hr class="hr1">

              <!-- List Comment Child -->
              <!-- <?php } elseif (strlen($this->commentData[$i]['path']) == 3) { ?> -->
              <ul class="comments_child">
                <li>
                  <div class="card-body-comment reply_comment mar-l">
                    <div class="d-flex align-items-center justify-content-between">
                      <h6 class="font-weight-bold text-primary mb-1">username</h6>
                      <p class="text-muted small mb-0">12323565</p>
                    </div>
                    <p class="mt-3 mb-4 pb-2">text comment here ....</p>
                    <hr>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          <% }); %>
        </div>
        <% } %>
      </div>

    </div><!-- /.blog-main -->


  </div>
  <script src="/js/blogs.js"></script>
  <%- include('../layouts/footer'); %>